In [2]:
import pandas as pd
df = pd.read_csv('N:\projects\data-science-time\chapter-1\chapter 1.1\music_log_upd.csv')

In [3]:
df.tail()

        user_id  total_play_seconds   artist_name genre_name     track_name
61207  18510741          109.000000   Steel Pulse     reggae  Chant A Psalm
61208  2E27DF51          220.551837  Nadine Coyle        pop  Girls On Fire
61209  4F29D4D5           26.127000  Digital Hero      dance      The Model
61210  26B7058C          292.455000       Red God      metal      Действуй!
61211  DB0038A8           11.529112  Less Chapell        pop           Home

In [4]:
df.tail().groupby('user_id')

In [5]:
df.tail().groupby('user_id').sum()

          total_play_seconds
user_id
18510741          109.000000
26B7058C          292.455000
2E27DF51          220.551837
4F29D4D5           26.127000
DB0038A8           11.529112

In [6]:
print(df.tail().groupby('user_id').sum().median())

total_play_seconds    109.0
dtype: float64